# Config for FH Aachen
ILIAS_URL="https://www.ili.fh-aachen.de/"
ILIAS_PREFIX="elearning"
ILIAS_LOGIN_GET="login.php?client_id=elearning&lang=de"
ILIAS_HOME="ilias.php?view=1&cmd=show&cmdClass=ildashboardgui&cmdNode=9p&baseClass=ilDashboardGUI"
ILIAS_LOGOUT="logout.php?lang=de"
ILIAS_EXC_BUTTON_DESC="Download"
