# Config for Uni Stuttgart
ILIAS_URL="https://ilias3.uni-stuttgart.de/"
ILIAS_PREFIX="Uni_Stuttgart"
ILIAS_LOGIN_GET="login.php?client_id=Uni_Stuttgart&cmd=force_login&lang=en"
ILIAS_HOME="ilias.php?baseClass=ilDashboardGUI&cmd=jumpToSelectedItems"
ILIAS_LOGOUT="logout.php?lang=de"
ILIAS_EXC_BUTTON_DESC="Download"
